doctype html
html(lang="en")
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/jquery-ui.min.css")  
    link(rel="stylesheet", href="/css/bootstrap-datepicker3.min.css")
    script(src="/libs/jquery.min.js")
    script(src="/libs/jquery-ui.min.js")
    script(src="/libs/firebase-app.js")
    script(src="/libs/firebase-auth.js")
    script(src="/js/firebase-config.js")
    script(src="/libs/bootstrap.min.js")
    script(src="/libs/bootstrap-datepicker.min.js")
        
  body
    .container
       block content
    script(src="/js/app.js")